.catalog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding-bottom: calc(100vh - 100svh + 18px);
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	background: $white;
	box-shadow: 0 -3px 13px 0 rgba(146, 146, 146, 0.25);
	transform: translateX(-100%);
	transition: transform 0.4s;
	z-index: 100;
	display: none;

	@media (max-width: $mobile) {
		display: block;
	}

	&_open {
		transform: translateX(0);
	}
	
	&__close {
		width: 18px;
		height: 18px;
		border: none;
		background: none;
		position: relative;
		display: block;
		margin-left: auto;
		margin-top: 18px;
		margin-bottom: 12px;
		
		&::after,
		&::before {
			content: '';
			display: block;
			width: 140%;
			left: -20%;
			position: absolute;
			top: 50%;
			height: 1.5px;
			background: $darkgray;
		}
		&::after {
			transform: translateY(-50%) rotate(45deg);
		}
		&::before {
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		color: $lightblack;
		margin-bottom: 18px;
	}

	&__list {
		width: 100vw;
		margin-left: calc($section-padding * -1);
	}

	&__link {
		border-bottom: 2px solid $softgray;
		padding: 8px $section-padding;
		color: $lightblack;
		display: grid;
		grid-template-columns: 32px 1fr auto;
		grid-gap: 8px;
		align-items: center;
		-webkit-tap-highlight-color: rgba(225,28,75,0.1);

		&::after {
			content:'';
			display: block;
			width: 8px;
			height: 16px;
			background: url(../img/catalog/arrow.svg) center / contain no-repeat;
		}
	}
}
