/* Menu */

.menu {
	width: 100%;
	position: relative;
	margin-bottom: 36px;

	@media (max-width: $mobile) {
		margin-bottom: 25px;
	}

	&__list {
		width: 100%;
		display: flex;
		gap: 36px;
		overflow-x: auto;
		scrollbar-width: none;
	
		@media (max-width: $tablet) {
			width: 100vw;
			margin-left: calc($section-padding * -1);
			padding: 0 $section-padding;
		}
	
		&::-webkit-scrollbar {
			appearance: none;
			-webkit-appearance: none;
			width: 0;
			height: 0;
			display: none;
		}
	}

	&__link {
		color: $lightblack;
		white-space: nowrap;

		&:hover {
			color: $accent;
		}

		&_active {
			color: $accent;
		}

		&_sale {
			display: flex;
			align-items: center;
			gap: 6px;

			&::before {
				content:'';
				display: block;
				width: 18px;
				height: 18px;
				background: url(../img/icons.svg#discount) center / contain no-repeat;
			}
		}
	}

	&__btn {
		width: 18px;
		height: 18px;
		border-radius: 100px;
		border: 1px solid $darkgray;
		background: $white;
		cursor: pointer;
		position: absolute;
		top: 0;

		@media (max-width: $tablet) {
			display: none;
		}

		&:hover {
			background: $accent;
			border-color: $accent;
		}

		&::before {
			content:'';
			display: block;
			width: 5px;
			height: 5px;
			border-top: 1px solid $darkgray;
			border-right: 1px solid $darkgray;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-70%,-50%) rotate(45deg);
		}
		&:hover::before {
			border-color: $white;
		}

		&_back {
			left: $section-padding;
			transform: scaleX(-1);
		}

		&_next {
			right: $section-padding;
		}
		
		&_hide {
			opacity: 0;
			  pointer-events: none;
		}
	}
}
