<nav class="catalog">
	<button class="catalog__close"></button>
	<h2 class="catalog__title">Каталог</h2>
	<div class="catalog__list">
		<a class="catalog__link" href="#">
			<img src="img/catalog/laptop.jpg" srcset="img/catalog/laptop_2x.jpg 2x" alt="">
			Ноутбуки и аксессуары
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/smartphone.jpg" srcset="img/catalog/smartphone_2x.jpg 2x" alt="">
			Смартфоны и аксессуары
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/tv.jpg" srcset="img/catalog/tv_2x.jpg 2x" alt="">
			Телевизоры и аксессуары
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/photo.svg" alt="">
			Фото и видеотехника
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/tablet.jpg" srcset="img/catalog/tablet_2x.jpg 2x" alt="">
			Планшеты и аксессуары
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/headphones.jpg" srcset="img/catalog/headphones_2x.jpg 2x" alt="">
			Наушники и аудиотехника
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/gaming.jpg" srcset="img/catalog/gaming_2x.jpg 2x" alt="">
			Гейминг
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/smartwatch.jpg" srcset="img/catalog/smartwatch_2x.jpg 2x" alt="">
			Умные часы
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/acoustic.jpg" srcset="img/catalog/acoustic_2x.jpg 2x" alt="">
			Портативная акустика
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/network.jpg" srcset="img/catalog/network_2x.jpg 2x" alt="">
			Сетевое оборудование
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/office.jpg" srcset="img/catalog/office_2x.jpg 2x" alt="">
			Офисная техника
		</a>
		<a class="catalog__link" href="#">
			<img src="img/catalog/smarthome.jpg" srcset="img/catalog/smarthome_2x.jpg 2x" alt="">
			Умный дом
		</a>
	</div>
</nav>