<footer class="footer">
	<nav class="footer__menu">
		<a href="#" class="footer__link">Главная</a>
		<a href="#" class="footer__link">Акции</a>
		<a href="#" class="footer__link">Магазины</a>
		<a href="#" class="footer__link">Профиль</a>
	</nav>
	<div class="footer__contacts">
		<a class="footer__link" href="tel:+78000000000">
			<svg class="footer__link-icon">
				<use xlink:href="img/icons.svg#phone"></use>
			</svg>
			8 (800) 000 00 00
		</a>
		<a class="footer__link" href="mailto:info@electrocity.ru">
			<svg class="footer__link-icon">
				<use xlink:href="img/icons.svg#email"></use>
			</svg>
			electrocity.ru
		</a>
	</div>
	<div class="footer__social">
		<a href="#" class="footer__social-link"><img src="img/footer/social-vk.svg" alt=""></a>
		<a href="#" class="footer__social-link"><img src="img/footer/social-youtube.svg" alt=""></a>
		<a href="#" class="footer__social-link"><img src="img/footer/social-telegram.svg" alt=""></a>
	</div>
	<div class="footer__copyright">© 2014-2021 «ЭЛЕКТРОСИТИ». Все права защищены</div>
</footer>