<header class="header">
	<div class="header__top">
		<a class="header__link" href="#">
			<svg class="header__link-icon">
				<use xlink:href="img/icons.svg#location"></use>
			</svg>
			г. Рязань
		</a>
		<a class="header__link" href="#">
			<svg class="header__link-icon">
				<use xlink:href="img/icons.svg#shop"></use>
			</svg>
			Магазины
		</a>
		<a class="header__link" href="tel:+78000000000">
			<svg class="header__link-icon">
				<use xlink:href="img/icons.svg#phone"></use>
			</svg>
			8 (800) 000 00 00
		</a>
	</div>
	<a class="header__logo" href="/">
		<img src="img/logo.svg" alt="Электросити">
	</a>
	<form class="header__form">
		<button class="header__burger"></button>
		<input class="header__search" type="search" placeholder="Поиск среди товаров">
	</form>
	<div class="header__usermenu">
		<a class="header__usermenu-link header__usermenu-link_pc" href="#">
			<svg class="header__usermenu-icon">
				<use xlink:href="img/icons.svg#user"></use>
			</svg>
			Анастасия
		</a>
		<a class="header__usermenu-link" href="#">
			<svg class="header__usermenu-icon">
				<use xlink:href="img/icons.svg#buy"></use>
			</svg>
			Покупки
		</a>
		<a class="header__usermenu-link header__usermenu-link_pc" href="#">
			<svg class="header__usermenu-icon">
				<use xlink:href="img/icons.svg#heart"></use>
			</svg>
			Избранное
		</a>
		<a class="header__usermenu-link header__usermenu-link_pc" href="#">
			<svg class="header__usermenu-icon">
				<use xlink:href="img/icons.svg#cart"></use>
			</svg>
			Корзина
		</a>
		<a class="header__usermenu-link header__usermenu-link_mobile" href="#">
			<svg class="header__usermenu-icon">
				<use xlink:href="img/icons.svg#shop"></use>
			</svg>
			Магазины
		</a>
		<a class="header__usermenu-link header__usermenu-link_mobile" href="#">
			<svg class="header__usermenu-icon">
				<use xlink:href="img/icons.svg#location"></use>
			</svg>
			г. Рязань
		</a>
	</div>
	<nav class="header__menu">
		<div class="header__menu-list">
			<a class="header__menu-link header__menu-link_sale" href="#">Акции</a>
			<a class="header__menu-link" href="#">Смартфоны</a>
			<a class="header__menu-link" href="#">Ноутбуки</a>
			<a class="header__menu-link" href="#">Телевизоры</a>
			<a class="header__menu-link" href="#">Видеотехника</a>
			<a class="header__menu-link" href="#">Планшеты</a>
			<a class="header__menu-link" href="#">Наушники</a>
			<a class="header__menu-link" href="#">Гейминг</a>
			<a class="header__menu-link" href="#">Умные часы</a>
			<a class="header__menu-link" href="#">Портативная акустика</a>
			<a class="header__menu-link" href="#">Сетевое оборудование</a>
			<a class="header__menu-link" href="#">Офисная техника</a>
			<a class="header__menu-link" href="#">Умный дом</a>
		</div>
		<button class="header__menu-btn header__menu-btn_back"></button>
		<button class="header__menu-btn header__menu-btn_next"></button>
	</nav>
</header>