<nav class="menu">
	<div class="menu__list">
		<a class="menu__link menu__link_active menu__link_sale" href="#">Акции</a>
		<a class="menu__link" href="#">Смартфоны</a>
		<a class="menu__link" href="#">Ноутбуки</a>
		<a class="menu__link" href="#">Телевизоры</a>
		<a class="menu__link" href="#">Видеотехника</a>
		<a class="menu__link" href="#">Планшеты</a>
		<a class="menu__link" href="#">Наушники</a>
		<a class="menu__link" href="#">Гейминг</a>
		<a class="menu__link" href="#">Умные часы</a>
		<a class="menu__link" href="#">Портативная акустика</a>
		<a class="menu__link" href="#">Сетевое оборудование</a>
		<a class="menu__link" href="#">Офисная техника</a>
		<a class="menu__link" href="#">Умный дом</a>
	</div>
	<button class="menu__btn menu__btn_back"></button>
	<button class="menu__btn menu__btn_next"></button>
</nav>