<nav class="mobilemenu">
	<a class="mobilemenu__link mobilemenu__link_active" href="#">
		<svg class="mobilemenu__icon">
			<use xlink:href="img/icons.svg#home"></use>
		</svg>
		Главная
	</a>
	<a class="mobilemenu__link" href="#">
		<svg class="mobilemenu__icon">
			<use xlink:href="img/icons.svg#search"></use>
		</svg>
		Поиск
	</a>
	<a class="mobilemenu__link" href="#">
		<svg class="mobilemenu__icon">
			<use xlink:href="img/icons.svg#heart"></use>
		</svg>
		Избранное
	</a>
	<a class="mobilemenu__link" href="#">
		<svg class="mobilemenu__icon">
			<use xlink:href="img/icons.svg#cart"></use>
		</svg>
		Корзина
	</a>
	<a class="mobilemenu__link" href="#">
		<svg class="mobilemenu__icon">
			<use xlink:href="img/icons.svg#user"></use>
		</svg>
		Профиль
	</a>
</nav>