<article class="sale">
	<img class="sale__image" src="img/sale/poster.jpg" srcset="img/sale/poster_2x.jpg 2x" alt="">
	<h1 class="sale__title">Скидки до 70% на товары для гейминга</h1>
	<time class="sale__date">c 8 октября до 26 октября</time>
	<p>В период с 8 по 26 октября не пропустите скидки до 70% товары для геймеров. Выбирайте товары из акционного списка и при оформлении заказа укажите промокод "GAMER" для активации скидки.</p>
	<p>Цены снижены на компьютеры, ноутбуки, ЖК мониторы, наушники, игровые кресла, геймпады, компьютерные мыши, клавиатуры, коврики для мыши.</p>
	<p>Купите товары для геймеров со скидкой до 70%, гарантией и доставкой в интернет-магазине ЭЛЕКТРОСИТИ. Выгодные цены на товары для геймеров на electrocity.ru!</p>
</article>